@font-face {
	font-family: "IBMPlexSans-ExtraLight";
	src: url("/fonts/IBMPlexSans-ExtraLight.woff");
}

@font-face {
	font-family: "IBMPlexSans-ExtraLight-Italic";
	src: url("/fonts/IBMPlexSans-ExtraLight-Italic.woff");
}

@font-face {
	font-family: "IBMPlexSans-Light";
	src: url("/fonts/IBMPlexSans-Light.woff");
}

@font-face {
	font-family: "IBMPlexSans-Light-Italic";
	src: url("/fonts/IBMPlexSans-Light-Italic.woff");
}

@font-face {
	font-family: "IBMPlexSans-Regular";
	src: url("/fonts/IBMPlexSans-Regular.woff");
}

@font-face {
	font-family: "IBMPlexSans-Italic";
	src: url("/fonts/IBMPlexSans-Italic.woff");
}

@font-face {
	font-family: "IBMPlexSans-Medium";
	src: url("/fonts/IBMPlexSans-Medium.woff");
}

@font-face {
	font-family: "IBMPlexSans-Medium-Italic";
	src: url("/fonts/IBMPlexSans-Medium-Italic.woff");
}

@font-face {
	font-family: "IBMPlexSans-SemiBold";
	src: url("/fonts/IBMPlexSans-SemiBold.woff");
}

@font-face {
	font-family: "IBMPlexSans-SemiBold-Italic";
	src: url("/fonts/IBMPlexSans-SemiBold-Italic.woff");
}

@font-face {
	font-family: "IBMPlexSans-Bold";
	src: url("/fonts/IBMPlexSans-Bold.woff");
}

@font-face {
	font-family: "IBMPlexSans-Bold-Italic";
	src: url("/fonts/IBMPlexSans-Bold-Italic.woff");
}
